html, body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

h1 {
    color: #333;
}

a {
    text-decoration: none;
    color: #007bff;
}



a:hover {
    text-decoration: underline;
}

div {
    outline: auto;
    outline-width: 10px;
    outline-color:black;
    margin: 10px;
    width: 200px;
}

#box1,#box2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img{
    height: 100px;
}


